@mixin _margin_top {
    margin-top: 8px;
}

@mixin hover_lighten($back-color) {
    &:hover {
        background-color: lighten($back-color,10%);
    }
}

@mixin just_started{
    background-color: $just-started-color;
    color: $dark-text-color;
}

@mixin in_progress{
    background-color:$in-progress-color; 
    color: $dark-text-color;
}

@mixin stuck{
    background-color: $stuck-color !important; 
    color: $light-text-color;
}

@mixin waiting_for_review{
    background-color: $waiting-for-review-color;
    color: $light-text-color;
}

@mixin done{
    background-color: $done-color; 
    color: $light-text-color;
}


@mixin urgent{
    background-color: $urgent-color; 
    color: $light-text-color;
}

@mixin high{
    background-color: $high-color; 
    color: $light-text-color;
}

@mixin medium{
    background-color: $medium-color; 
    color: $light-text-color;
}

@mixin low{
    background-color: $low-color; 
    color: $light-text-color;
}