$stuck-color:#e2445c;
$waiting-for-review-color: #579cfc;
$done-color:#00c875; 
$in-progress-color:#faff28;
$just-started-color:#acfcdb;
$light-text-color: white;
$dark-text-color: black;
$hover-light-increase: 10%;

$urgent-color:gray;
$high-color:#e2445c;
$medium-color:#80127a;
$low-color:#579cfc;

$header-back-color:azure;