body {
    background-color: #0f111a;
}

.table-main {
    border: 1px solid black;

    .table-header {
        background-color: aqua;
    }
}



.table-cell {
    color: white;
    position: relative;
    .task-name{
        // width:180px;
    }
}
