@import 'variables';
@import 'mixins';
@import 'taskstatus';

.table-main {
    border: 1px solid black;

    .table-header {
        background-color: aqua;
    }

    .table-row {
        height: 15px;
    }

}




